* {
    margin: 0;
    padding: 0;
    border: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    color: white;
}

.flex {
    display: flex;
}

body, .calculator-body, .display {
    align-items: center;
}

body {
    height: 100vh;
    justify-content: center;
    background-color: #56545B;
}

.calculator-body {
    height: 500px;
    min-width: 350px;
    width: 350px;
    flex-direction: column;
    justify-content: space-around;
    gap: 10px;
    border-radius: 8px;
    background-color: #1F1E21;
}

.calculator-display, #calculator-keyboard {
    width: 95%;
}

.calculator-display {
    margin-block: 10px 0px;
    height: 15%;
}

#btn-clear {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #2a1f1f;
}

#btn-clear, #btn-percent, #btn-del, #btn-neg, #btn-decimal {
    background-color: #2a1f1f;
}

.display, #btn-clear {
    padding-inline: 15px; 
    font-weight: 900;
}

.display {
    width: 75%;
    font-size: 24px;
    justify-content: end;
    border-right: none;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    background-color: #2e2e2e;
}

#btn-clear, #calculator-keyboard button {
    font-size: 20px;
}

#btn-clear {
    width: 25%;
    padding-inline: 20px;
}

#calculator-keyboard, #btn-zero, .operator-buttons, .operator-buttons > button {
    flex: 1;
}

#calculator-keyboard {
    margin-block: 0px 10px;
}

#calculator-keyboard button {
    border-radius: 15px;
    margin: 2px;
}

.number-buttons {
    width: 75%;
    flex-wrap: wrap;
}

.number-buttons > button {
    width: 31.7%;
    background-color: #1e1e2f;
}

.operator-buttons {
    flex-direction: column;
}

.operator-buttons > button {
    background-color: #2b1d33;
}

button {
    cursor: pointer;
}

button:active {
    background-color: rgba(0, 0, 0, 0.8) !important;
    color: white !important; 
}